{block breadcrumb_icon}refresh{/block}
{block title}Administrace{/block}

{block content}
<a n:href="Manufacturer:default" class="waves-effect waves-light btn"><span>Značky</span></a>
<a href="{$basePath}/preview.png" class="waves-effect waves-light btn" target="_blank"><span>Původní náhled</span></a>

