{block breadcrumb_backlink}{link 'Manufacturer:default'}{/block}
{block title}Přidat značku{/block}

{block content}
{block modal}
    {snippet manufacturerCreateFormArea}
        {control manufacturerCreateForm}
    {/snippet}
{/block}