{block breadcrumb_backlink}{link 'Manufacturer:default'}{/block}
{block title}Upravit značku{/block}

{block content}
{block modal}
    {snippet manufacturerEditFormArea}
        {control manufacturerEditForm}
    {/snippet}
{/block}