{block title}Hello{/block}

{block content}
<div class="center-align">
    <h1>Hello word!</h1>
    <p>This is example project based on <a href="https://nette.org">Nette Framework</a></p>
    <p>Used:  <a href="https://contributte.org">Contributte + Nettrine + webpack + naja + materializecss</a></p>
    <p>Not used: <a href="https://contributte.org/packages/contributte/datagrid/">contributte/datagrid</a></p>
    <i class="material-icons white-text">code</i>
</div>